.venv/
.git/
frontend/assets/tracks/*.mp3
frontend/*
!frontend/assets/
!frontend/assets/tracks/.keep
!frontend/.keep
!frontend/*.js
!frontend/*.css
!frontend/js
!frontend/css
!frontend/images/albumart.svg
!frontend/mag-glass2-white.svg
!*/**/.keep
db.sqlite3
*/**/__pycache__/
**/__pycache__/
__pycache__/
.vscode/
tests1/brouillon.html
TODO.md
repomix-output.xml
yasp.md
suggestions/
*.code-workspace
library_data.json
.my_pass
.my_pgpass
new_tracks.json
new_tracks10.json
