annotated-types==0.7.0
asgiref==3.7.2
Django==5.0.14
mutagen==1.47.0
pillow==12.2.0
psycopg2-binary==2.9.9
pydantic==2.13.0
pydantic_core==2.46.0
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
