@keyframes stretchdown {
    from {
        padding-bottom: 0px;
        border-bottom: 0px;
    }
    to {
        padding-bottom: 32px;
        border-bottom: 1px solid #ff4f4f;
    }
}

@keyframes pulse {
    /*0%, 100% { transform: scaleY(0.3); }
    50% { transform: scaleY(1); }*/
    0%, 100% { transform: scaleY(0.3); }
    20% { transform: scaleY(1); }      /* Quick "hit" */
    40% { transform: scaleY(0.5); }    /* Short drop */
    50% { transform: scaleY(0.8); }    /* Small syncopated bounce */
    80% { transform: scaleY(0.2); }    /* Long fade */
}

:root {
    --grid-border-color: #c2c2c2;

    --font-color-default: #252525;
    --font-color-dropped: #fafafa;

    --outline-input-color: #72a8e8;

    --cell-sorted-bg: #dadada;

    --row-even-bg-color: #bbe3fc;
    --row-odd-bg-color: #f0f0f0;
    --row-even-hover-bg-color: #5fa7d9;
    --row-odd-hover-bg-color: #e5e5e5;
    --row-currently-playing-bg: #ed5858;
    --row-queue-bg-color: #486f85 /*#4d6979*/;
}

* {
    margin: 0;
    padding: 0;
}

#now-playing-svg:hover {
    cursor: pointer;
}

#now-playing-svg .bar {
    fill: #e6e6e6;
    transform: scaleY(0.3);
    animation: pulse .6s infinite linear;
    transform-origin: center;
}

#now-playing-svg .bar1 { animation-delay: calc(3s / 100); }
#now-playing-svg .bar2 { animation-delay: calc(47s / 100); }
#now-playing-svg .bar3 { animation-delay: calc(17s / 100); }

#table-content {
    width: 100%;
    height: 84.55%;
    background: #2d2d2d;
    position: relative;
    user-select: none;
    overflow: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.row {
    width: 99%;
    border-bottom: 1px solid var(--grid-border-color);
    background: #f7f8f8;
    font-size: 1.4rem;
    color: #252525;
    user-select: none;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.row.head {
    font-weight: bold;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 250;
}

.row.dragged {
    transition-duration: 0s;
}

.row:has(.empty), .row.hovered {
    animation: 68ms 1 forwards stretchdown;
}
.hovered {
    background: rgb(255, 192, 192)!important;
}
.row:first-child {
    border-top: 1px solid var(--grid-border-color);
}

.row.lonely:nth-child(even) {
    background: var(--row-even-bg-color);
}

.row.lonely:hover {
    background: var(--row-even-hover-bg-color);
}

.row.lonely .track-actions:hover {
    border: 1px solid #252525;
    background: var(--row-odd-bg-color);
}

.empty {
    height: 0px;
    display: block;
    width: 100%;
    background:#f7f8f8;
    border-top: 1px solid var(--grid-border-color);
}

.row.dragged {
    border: 1px dashed var(--grid-border-color);
    font-size: 1rem;
    filter: drop-shadow(0 0 8px rgba(85, 85, 85, 0.5));
    /*filter: opacity(74%);*/
    z-index: 650;
}

.row.lonely.currently-playing {
    background: var(--row-currently-playing-bg)!important;
    color: #fafafa;
}

.row.lonely.currently-playing:not(.dragged) {
    transition-duration: 0.4s;
}

.row.selected:not(.dragged):not(.currently-playing) {
    background: #7e7e7e;
    color: #fafafa;
}

.cell {
    border-right: 1px solid var(--grid-border-color);
    display: inline-block;
    vertical-align: top;
    padding: 8px 12px;
    height: auto;
}

.cell, .row.lonely.dragged .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row.lonely.dropped:hover:not(:has(input)) .cell {
    overflow: visible;
    text-overflow: initial;
    white-space: initial;
    max-width: initial;
    transition-duration: 0.6s;
}

.cell.sorted {
    background: var(--cell-sorted-bg);
}

.cell.editable, .cell.sortable {
    cursor: pointer;
}

.cell.cell-index {
    padding: 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell input {
    width: 99%;
    display: block;
    padding: 9px 4px 9px 4px;
    margin: 1px auto 0 auto;
    border: none;
    outline: 2px solid var(--outline-input-color);
    font-family: Arial, Helvetica, sans-serif;
    height: 95%;
}

.draggable {
    cursor: move!important;
}

.cell.draggable {
    text-align: center;
}

.row.hovered .cell {
    border-bottom: 1px solid #ff4f4f;
}

.cell, .cell.editable:has(input) {
    cursor: default;
}

.cell.editable:has(input) {
    padding: 0;
}

.cell:last-child {
    border: 0;
}

.queue-list .row {
    background: var(--row-queue-bg-color)!important;
    color: #fafafa;
}