{% extends "main.html" %}
{% load static %}
{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
{% endblock %}
{% block user_style %}

<link rel="icon" type="image/png" href="{% static 'assets/favicons/favicon.png' %}" sizes="32x32">
<link rel="icon" type="image/x-icon" href="{% static 'assets/favicons/favicon.ico' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicons/apple-touch-icon.png' %}">

<link href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
<link href="/static/css/player.css" rel="stylesheet">
<link href="/static/css/grid.css" rel="stylesheet">
<link href="/static/css/progressbar.css" rel="stylesheet">
<link href="/static/css/visualizer.css" rel="stylesheet">

{% endblock %}
{% block scripts %}
<script type="text/javascript" defer src="https://cdn.jsdelivr.net/npm/luxon@3.7.2/build/global/luxon.min.js"></script>
<script type="module" defer src="/static/js/main.js"></script>
{% endblock %}
{% block content %}
<main id="content">
  <div id="player">
    <div id="info-box">
      <div id="foto-box">
        <img src="/static/images/albumart.svg" id="album-art">  
      </div><div id="track-box">
        <p id="track-title"><span id="name-track">No track</span><span id="name-album"></span><span id="time-track"></span></p>
        <p id="artist-name"></p>
      </div>
    </div>
    <div id="player-controls">
    </div>
  </div>
  <div style="display: none;" class="cnt-overlay">
    <div style="display: none;" id="window-folder" class="file-browser">
    </div>
    <div style="display: none;" id="window-content">
      <div class="tracklist-head">
        <div class="tracklist-title inline-block">Track list</div><div class="tracklist-search inline-block">
          <div class="img-cnt inline-block"><img src="/static/mag-glass2-white.svg"></div><div class="input-cnt inline-block" style="visibility: hidden;"><input class="search-input"></div>
        </div>
      </div>
      <div class="tracklist-content-div">
        <div id="table-content"></div>
        <div class="tracklist-info-cnt">
          <span class="tracklist-info-nb">
            <span class="nb-tracks">0</span> Total Tracks</span><span class="tracklist-info-duration">
              <span class="duration-tracks">00:00:00</span>Total Duration</span>
        </div>
      </div>
    </div>
  </div>
</main>
<div style="display: none;" id="volume-display">
  <span class="vol-val">100</span>
</div>
<div style="display: none;" id="muted-display">
  <i id="mute-on" style="display: none;" class="fa-solid fa-volume-xmark"></i>
  <i id="mute-off" style="display: none;" class="fa-solid fa-volume-high"></i>
</div>

<div id="notifications-cnt">
</div>
{% endblock %}
